.wrapper
	position: relative
	size: 100%
	min-height: 600px
	margin: 0 auto
	overflow: hidden

.sky
	size: 100% 300%
	absolute: top 0 left 0
	transition: transform 1s
	background-image: linear-gradient(#F3F0FF 0%, #B2D6EB 33%, #B09CAF 70%, #272334 90%)

	&.morning
		transform: translateY(0)

	&.day
		transform: translateY(-33.333333333%)

	&.night
		transform: translateY(-66.666666666%)
