article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}
audio,canvas,video{display:inline-block}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
button,html,input,select,textarea{font-family:sans-serif}
body{margin:0}
a:focus{outline:dotted thin}
a:active,a:hover{outline:0}
h2{font-size:1.5em}
h3{font-size:1.17em;margin:1em 0}
h4{font-size:1em;margin:1.33em 0}
h5{font-size:.83em;margin:1.67em 0}
h6{font-size:.67em;margin:2.33em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
blockquote{margin:1em 40px}
dfn{font-style:italic}
hr{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
mark{background:#ff0;color:#000}
p,pre{margin:1em 0}
code,kbd,pre,samp{font-family:monospace,serif;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:after,q:before{content:'';content:none}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
dl,menu,ol,ul{margin:1em 0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ol,nav ul{list-style:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure,form{margin:0}
legend{border:0;padding:0;white-space:normal}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
input[type=checkbox],input[type=radio]{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0}
input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
audio,canvas,img,video{vertical-align:middle}
fieldset{border:0;margin:0;padding:0}
textarea{resize:vertical}
.grid{width:80%;height:100%;min-height:100%;margin:0 auto}
*,:after,:before{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.row:after{content:"";display:table;clear:both}
.column{float:left}
.column.last,.column:last-of-type{padding-right:5px;float:right}
.column.rtl{float:right}
.column.rtl.last,.column.rtl:last-of-type{padding-left:5px;float:left}
.column.bottom{position:absolute;bottom:0}
.column.middle{height:50%;margin:auto;position:absolute;top:0;bottom:0}
.column.middle.right{right:0}
.twelve{width:100%}
.eleven{width:91.666667%}
.ten{width:83.333333%}
.nine{width:75%}
.eight{width:66.666667%}
.seven{width:58.333333%}
.six{width:50%}
.five{width:41.666667%}
.four{width:33.33%}
.three{width:25%}
.two{width:16.666667%}
.one{width:8.333333333%}
.inner{padding:5px;background:#ccc;text-align:center;border-radius:4px}
@media only screen and (max-width:480px){.column{width:100%}
.column.bottom,.column.middle{position:relative}
.inner{padding:5px 20px}}
@media print{*{background:0 0!important;color:#000!important;-webkit-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
blockquote,pre{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group}
img,tr{page-break-inside:avoid}
img{max-width:100%!important}
@page{margin:.5cm}
h2,h3,p{orphans:3;widows:3}
h2,h3{page-break-after:avoid}}
@font-face{font-family:langdonregular;src:url(/fonts/langdon/langdon-webfont.eot);src:url(/fonts/langdon/langdon-webfont.eot?#iefix) format('embedded-opentype'),url(/fonts/langdon/langdon-webfont.woff) format('woff'),url(/fonts/langdon/langdon-webfont.ttf) format('truetype'),url(/fonts/langdon/langdon-webfont.svg#langdonregular) format('svg');font-weight:400;font-style:normal}
body,button,html,input,select,textarea{color:#444}
body{font:400 1em/1.4 Helvetica,Arial,sans-serif}
h1{margin:0;font:400 100px/1 langdonregular;text-transform:lowercase;letter-spacing:10px}
h2{margin:0;font-family:Pompiere;text-transform:uppercase}
.script{font:400 20px/1 'Lily Script One';letter-spacing:0;display:block}
a{color:#F2385A;-webkit-transition:.2s;transition:.2s;text-decoration:none;text-shadow:none;cursor:pointer;-webkit-tap-highlight-color:transparent}
a:hover{color:#36B1BF}
::-moz-selection{background:#78CDF3;text-shadow:none}
::selection{background:#78CDF3;text-shadow:none}
body,html{height:100%;min-height:100%}
body{background:url(/img/background.png);overflow:hidden}
.main{height:100%;min-height:100%;padding:0 5%}
.card-container{width:623px;height:527px;margin:auto;position:absolute;top:0;right:0;bottom:0;left:0}
.bunting{border-top:1px solid #FDB813}
.triangle{width:0;height:0;border-style:solid;border-width:21.7px 12.5px 0;border-color:#FDB813 transparent transparent;display:inline-block}
.card{width:480px;height:380px;padding-top:20px;text-align:center;color:#335767;background-color:ivory;position:absolute;top:100px;left:50%;margin-left:-240px;visibility:hidden;z-index:20}
.card .content{width:240px;margin:0 auto}
.sunset:before{content:"";display:block;height:35px;width:70px;margin:0 auto;border-radius:70px 70px 0 0;background:#FDB813;-webkit-box-shadow:0 -3px 10px 0 #FDB813;box-shadow:0 -3px 10px 0 #FDB813}
.script.dbl-border:before{content:"";margin:0 auto -8px;border-bottom:1px solid #78CDF3;display:block}
.script.dbl-border:after{content:"";margin:-10px auto 0;border-top:1px solid #78CDF3;display:block}
.script.dbl-border em{background-color:ivory;padding:0 20px 0 15px}
.date{margin-bottom:10px;font-size:50px;line-height:70px}
.details{font-size:14px}
.follow{margin-top:10px;font-size:16px}
.back,.envelope,.flap,.front,.pocket{width:100%;height:100%;text-align:center;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;position:relative}
.back,.front{-webkit-backface-visibility:hidden;backface-visibility:hidden;position:absolute;top:0;left:0}
.front{padding-top:20px;background:url(/img/envelope-background.jpg);z-index:100}
.stamp{background:url(/img/stamp.jpg) no-repeat;-webkit-background-size:cover;background-size:cover;width:200px;height:100px;position:absolute;top:20px;right:20px}
.addressee{height:50px;margin:auto;position:absolute;top:0;bottom:0;left:0;right:0}
.addressee h2{font-size:40px;line-height:50px;text-decoration:underline}
.back{background:url(/img/envelope-background.jpg)}
.pocket{height:100%;position:absolute;bottom:0;background:url(/img/envelope-back.png) no-repeat;z-index:30}
.flap{height:317px;background:url(/img/flap.png) no-repeat;z-index:40}
.tent{width:0;height:0;margin:0 auto 0 -44px;border-style:solid;border-width:0 22px 38.1px;border-color:transparent transparent #335767;position:relative;left:50%}
.tent:before{content:"";width:0;height:0;border-style:solid;border-width:0 11px 19.1px;border-color:transparent transparent ivory;position:absolute;top:22px;left:-12px}
.tent-canvas{width:44px;height:44px;background:#335767;position:absolute;top:-3px;left:13px}
img,video{max-width:100%}
.video-wrap{width:100%;height:0;padding-bottom:56.25%;position:relative}
.video-wrap iframe{width:100%;height:100%;position:absolute}
.hidden{display:none}
@media only screen and (min-width:1280px){.show-xlarge{display:block}}
@media only screen and (min-width:769px) and (max-width:1279px){.show-large{display:block}}
@media only screen and (min-width:569px) and (max-width:768px){.show-medium{display:block}}
@media only screen and (max-width:568px){.show-small{display:block}}