body,html{height:100%;min-height:100%}
body{background:url(/img/background.png)}
.main{height:100%;min-height:100%;padding:0 5%}
.card-container{width:623px;height:527px;margin:auto;position:absolute;top:0;right:0;bottom:0;left:0}