/* ==========================================================================
   LAYOUT
   ========================================================================== */

@import "../lib/settings.css";

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	background: url('/img/background.png') 0 0;
}

.main {
	height: 100%;
	min-height: 100%;
	padding:0 5%;
}

.card-container {
	width: var(--card-width);
	height: var(--card-height);
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: calc((var(--card-width) / 2) * -1);
}