/* ==========================================================================
   LAYOUT
   ========================================================================== */

html, body {
	height: 100%;
}

body {
	background: url('/img/background.png') 0 0;
}

.main {
	height: 100%;
	margin-bottom: 100px;
	padding:0 5%;
}

.card-container {
	width: 700px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	top: 100px;
}