@import "../lib/settings.css";

.bunting {
	border-top: 1px solid var(--colour-sun);
}

.triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 21.7px 12.5px 0 12.5px;
	border-color: var(--colour-sun) transparent transparent transparent;
	display: inline-block;
}