.card {
	width: 600px;
	height: 300px;
	padding-top: 20px;
	text-align: center;
	background-color: white;
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -300px;
	visibility: hidden;
	z-index: 20;
}