@import "../lib/settings.css";

:root {
	--sun-height: 35px;
	--sun-width: calc(var(--sun-height)*2);
}

.card {
	width: 480px;
	height: 380px;
	padding-top: 20px;
	text-align: center;
	color: var(--colour-turq);
	background-color: var(--colour-card);
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -240px;
	visibility: hidden;
	z-index: 20;
}

.card .content {
	width: 240px;
	margin: 0 auto;
}

.sunset:before {
	content: "";
	display: block;
	height: var(--sun-height);
	width: var(--sun-width);
	margin: 0 auto;
	border-radius: var(--sun-width) var(--sun-width) 0 0;
	background: var(--colour-sun);
	box-shadow: 0 -3px 10px 0 var(--colour-sun);
}

.script.dbl-border:before {
	content: "";
	margin: 0 auto -8px;
	border-bottom: 1px solid var(--colour-skyblue);
	display: block;
}
.script.dbl-border:after {
	content: "";
	margin: -10px auto 0;
	border-top: 1px solid var(--colour-skyblue);
	display: block;
}
.script.dbl-border em {
	background-color: var(--colour-card);
	padding: 0 20px 0 15px;
}

.date {
	margin-bottom: 10px;
	font-size: 50px;
	line-height: 70px;
}

.details {
	font-size: 14px;
}

.follow {
	margin-top: 10px;
	font-size: 16px;
}