/* ==========================================================================
   ENVELOPE
   ========================================================================== */

.envelope, .front, .back, .flap, .pocket {
	width: 100%;
	height: 100%;
	text-align: center;

	transform-style: preserve-3d;
	position: relative;
}

.envelope {
	/*border-radius: 4px;*/
	/*box-shadow: 0 0 10px #999;*/
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	padding-top: 20px;
	background-color: coral;
	z-index: 100;
}

.back, .flap, .pocket {
	background-color: lime;
}

.pocket {
	height: 300px;
	position: absolute;
	bottom: 0;
	z-index: 30;
}

.flap {
	height: 100px;
	z-index: 10;
}