//////////////////////////////////////////////////
// Font
//////////////////////////////////////////////////

$font = {
	primary: unquote("'Helvetica Neue', Helvetica, Arial, sans-serif"),
	secondary: unquote("Georgia, serif"),

	size: 14px,
	line-height: 1.75
}

//////////////////////////////////////////////////
// Colors
//////////////////////////////////////////////////
$color = {
	background: #FFFFFF,
	foreground: #252525
}


//////////////////////////////////////////////////
// Paths
//////////////////////////////////////////////////
$path = {
	image: "../img",
	font: "../font"
}


//////////////////////////////////////////////////
// Debug
//////////////////////////////////////////////////
$debug = {
	colors: #F00	#0F0 #00F #FF0 #0FF #F0F,
	border: 4px
}
