//////////////////////////////////////////////////
// Font
//////////////////////////////////////////////////

$font = {
	primary: unquote("'Helvetica Neue', Helvetica, Arial, sans-serif"),
	secondary: unquote("Georgia, serif"),

	size: 14px,
	line-height: 1.75
}

//////////////////////////////////////////////////
// Colors
//////////////////////////////////////////////////
$color = {
	blue: #29A2C6,
	cloth: #E0CC97,
	green: #4D8963,
	orange: #E85F0C,
	pink: #EC799A,
	skyblue: #78CDF3,
	turq: #218C8D,
	yellow: #FDB813,
	pine: #00FFB7,
	wood: #D98938,
	brown: #745433,
	lt-brown: #946741,
	red: #D9574A
}


//////////////////////////////////////////////////
// Paths
//////////////////////////////////////////////////
$path = {
	image: "../img",
	font: "../font"
}


//////////////////////////////////////////////////
// Debug
//////////////////////////////////////////////////
$debug = {
	colors: #F00	#0F0 #00F #FF0 #0FF #F0F,
	border: 4px
}

//////////////////////////////////////////////////
// Breakpoints
//////////////////////////////////////////////////

base-font-size = $font.size
rupture.enable-em-breakpoints = true

$media = {
	medium: 768px,
	large: 1024px,
	xlarge: 1200px
}

// $page-width = 1260px
