/**
	@module:   abstract-scene
	@author:   lukehedger <luke.hedger@gmail.com>
	@css:      ./source/css/module/abstract-scene.styl
	@js:       ./source/js/module/abstract-scene.coffee
 */

.scene
	height: 100%
	position: relative
	font-family: 'Pompiere'

.stage__control
	position: absolute
	left: 50%
	z-index: 99

.stage__control--prev
	@extend .stage__control
	top: 10px

.stage__control--next
	@extend .stage__control
	bottom: 10px
