/**
	@module:   scene-digest
	@author:   lukehedger <luke.hedger@gmail.com>
	@css:      ./source/css/module/scene-digest.styl
	@js:       ./source/js/module/scene-digest.coffee
 */

.scene-digest
	background-image: linear-gradient(0deg, #B09CAF, #DBF1FF)
