/**
	@module:   scene-digest
	@author:   lukehedger <luke.hedger@gmail.com>
	@css:      ./source/css/module/scene-digest.styl
	@js:       ./source/js/module/scene-digest.coffee
 */

.scene-digest
	//

.showtime
	size: 100%
	position: relative

.showtime__control
	align(vertical)
	height: 90px
	width: 45px
	background-color: rgba(255,255,255,0.9)
	cursor: pointer
	z-index: 10

	svg
		align(both)
		size: 25px auto

.showtime__control--prev
	@extend .showtime__control
	left: 0
	border-radius: 0 90px 90px 0

.showtime__control--next
	@extend .showtime__control
	right: 0
	border-radius: 90px 0px 0px 90px

.slide
	align(both)
	size: 100%
	background: white

	+above($media.medium)
		size: 75%

.slide--1
	@extend .slide
	background-color: $color.pink

.slide--2
	@extend .slide
	background-color: $color.yellow

.slide--3
	@extend .slide
	background-color: $color.turq

.flower
	size: 170px 120px
	background: url("../img/floral.png") no-repeat -800px -227px
	absolute: bottom 0 left 0
