/**
	@module:   scene-night
	@author:   lukehedger <luke.hedger@gmail.com>
	@css:      ./source/css/module/scene-night.styl
	@js:       ./source/js/module/scene-night.coffee
 */

.scene-night
	z-index: 30

.postcard
	align(both)
	size: 100% 75%
	background-color: white
	box-shadow: 0px 0px 10px #777

	+above($media.large)
		size: 60%
		align(horizontal)
		top: 15%

.postcard__inner
	align(both)
	size: 100%
	padding: 40px 0

.postcard__stamp
	size: 75px
	background-color: $color.red
	absolute: top 20px right 20px
	color: white

.stamp__letter
	align(vertical)
	font-size: 16px

.stamp__letter--a
	@extend .stamp__letter
	left: 15px

.stamp__letter--l
	@extend .stamp__letter
	right: 15px

.stamp__number
	align(horizontal)
	font-size: 10px

.stamp__number--20
	@extend .stamp__number
	top: 10px

.stamp__number--15
	@extend .stamp__number
	bottom: 10px

.stamp__line
	size: 1px 100%
	absolute: top 0 left 50%
	transform: rotate(45deg)
	background-color: white

	&:before
		content: ""
		display: block
		size: 0
		border-style: solid
		border-width: 0 3px 6.7px 3px
		border-color: transparent transparent white transparent
		relative: top -6px left -2px

	&:after
		content: ""
		display: block
		size: 0
		border-style: solid
		border-width: 0 3px 6.7px 3px
		border-color: transparent transparent white transparent
		relative: bottom -69px right 4px
		transform: rotate(180deg)

.stamp__line--flipped
	@extend .stamp__line
	transform: rotate(-45deg)

	&:before
		size: 5px 1px
		border: 0
		background-color: white
		relative: top 0px left -2px

	&:after
		size: 5px 1px
		border: 0
		background-color: white
		relative: bottom -73px right 4px

.postcard__section
	span(1/2)
	height: 100%
	padding: 20px
	font-size: 20px

	+above($media.large)
		padding: 0 50px

.postcard__section--message
	@extend .postcard__section
	border-right: 1px solid black

.postcard__section--address
	@extend .postcard__section
	position: relative

.postcard__address
	align(both)

.message
	size: 100% 60%
	// border: 1px dashed black
	border: 0
	outline: 0
	resize: none
	font-family: $font.primary
	font-size: 20px

.postcard__from
	stack()

.postcard__send
	stack()
	position: relative

	a
		width: 100%
		display: block
		border-radius: 4px
		font-family: $font.secondary
		font-weight: bold
		text-align: center
		text-transform: uppercase
		background-color: $color.green
		color: white
		cursor: pointer
		transition: 0.2s

		&:hover, &:focus
			background-color: lighten($color.green, 5)

		&.disabled
			background-color: grey
			cursor: default

		+above($media.large)
			max-width: 80px
			absolute: right 0

.postcard__description
	absolute: bottom 20px right 20px
	font-size: 10px

	+above($media.large)
		bottom: 0
