/**
	@module:   scene-night
	@author:   lukehedger <luke.hedger@gmail.com>
	@css:      ./source/css/module/scene-night.styl
	@js:       ./source/js/module/scene-night.coffee
 */

.scene-night
	background-image: linear-gradient(0deg, #DA988B, #858585)
