/**
	@module:   scene-day
	@author:   lukehedger <luke.hedger@gmail.com>
	@css:      ./source/css/module/scene-day.styl
	@js:       ./source/js/module/scene-day.coffee
 */

.scene-day
	// 

// sun
path
	stroke-dasharray: 100
	stroke-dashoffset: 100

// greeting
.greeting
	align(both)
	size: 75%
	text-align: center

	+above($media.medium)
		size: 50%
