/**
	@module:   test
	@author:   Luke Hedger <luke.hedger@gmail.com>
	@css:      ./source/css/module/test.styl
	@js:       ./source/js/module/test.coffee
 */

.test
	absolute: top 0px left 0px
	size: 100%

.circle
	size: 100px 100px
	border-radius: 50%
	background-color: coral
	transition: 0.5s

	&.clicked
		background-color: aliceblue
		// size: 100%
		// border-radius: 0
		transform: scale(50)
