<a class="stage__control--prev" on-tap="goPrevScene">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 70 32.1" enable-background="new 0 0 70 32.1" xml:space="preserve">
        <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M0.6,31.6L33.8,1.2c0.7-0.6,1.7-0.6,2.4,0l33.1,30.4"/>
    </svg>
</a>
<a class="stage__control--next" on-tap="goNextScene">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 70 32.1" enable-background="new 0 0 70 32.1" xml:space="preserve">
        <path fill="none" stroke="#000000" stroke-miterlimit="10" d="M69.3,0.7L36.1,31.2c-0.7,0.6-1.7,0.6-2.4,0L0.6,0.7"/>
    </svg>
</a>
