<!--
	@module:   scene-night
	@author:   lukehedger <luke.hedger@gmail.com>
	@css:      ./source/css/module/scene-night.styl
	@js:       ./source/js/module/scene-night.coffee
-->

<div class="scene scene-night" intro="fly:{ x:'0%', y:'100%', opacity:1 }">

	<div class="postcard" intro="fade">
		<div class="postcard__inner">
			<div class="postcard__stamp">
				<span class="stamp__number--20">20</span>
				<span class="stamp__number--15">15</span>
				<span class="stamp__letter--l">L</span>
				<span class="stamp__letter--a">A</span>
				<div class="stamp__line"></div>
				<div class="stamp__line--flipped"></div>
			</div>
			<div class="postcard__section--message">
				<textarea class="message" name="message" id="message" cols="30" rows="10" value="{{message}}" placeholder="RSVP here..."></textarea>
				<div class="postcard__from">from {{guest.name}}</div>
				<div class="postcard__send">
					<a on-tap="sendMessage">Send</a>
				</div>
			</div>
			<div class="postcard__section--address">
				<div class="postcard__address">
					Alice &amp; Luke<br>
					London
				</div>
				<div class="postcard__description">Hawthbush Farm, Gun Hill - circa 2015</div>
			</div>
		</div>
	</div>

</div>
