<!--
	@module:   scene-day
	@author:   lukehedger <luke.hedger@gmail.com>
	@css:      ./source/css/module/scene-day.styl
	@js:       ./source/js/module/scene-day.coffee
-->

<div class="scene scene-day" intro="fade">

	<svg width="200px" height="200px" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M10 10 C 20 20, 40 20, 50 10" stroke="black" fill="transparent"/>
	</svg>

	<div class="greeting">
		<h2>Dear {{guest.name}}</h2>
		<p>We hope you can join us to celebrate our marriage on</p>
		<h2 class="date">4th July 2015</h2>
		<h2><span style="color:#e74c3c;">❤</span></h2>
		<h2>Alice &amp; Luke</h2>
	</div>

</div>
