<!--
	@module:   scene-morning
	@author:   lukehedger <luke.hedger@gmail.com>
	@css:      ./source/css/module/scene-morning.styl
	@js:       ./source/js/module/scene-morning.coffee
-->

<div class="scene scene-morning" intro="fade">

	<div class="greeting">
		<h2>Dear {{guest.name}}</h2>
		<p>We hope you can join us to celebrate our marriage on</p>
		{{#guest.name == 'Izzy'}}
		<span class="hashtag">&#35;BiggerThanWoodstock</span>
		{{/}}
		<h2 class="date">4th July 2015</h2>
		<p><span style="color:#e74c3c;">&#10084;</span></p>
		<p>Alice &amp; Luke</p>
	</div>

</div>
