<!--
	@module:   scene-digest
	@author:   lukehedger <luke.hedger@gmail.com>
	@css:      ./source/css/module/scene-digest.styl
	@js:       ./source/js/module/scene-digest.coffee
-->

<div class="scene scene-digest">
	{{>stageControls}}

	<div class="showtime" on-swiperight="goPrevSlide" on-swipeleft="goNextSlide">
		<div class="showtime__controls">
			<a class="showtime__control--prev" on-tap="goPrevSlide">&larr;</a>
			<a class="showtime__control--next" on-tap="goNextSlide">&rarr;</a>
		</div>
		{{#slides:slide}}
			{{#active}}
			<div class="slide--{{slide}}" intro-outro="fly:{ x:'{{x}}', y:'0%', opacity:1 }">
				<h1>{{title}}</h1>
				<p>{{body}}</p>
				{{#links}}
				{{.}}
				{{/}}
			</div>
			{{/}}
		{{/}}
	</div>

</div>
