<!--
	@module:   scene-day
	@author:   lukehedger <luke.hedger@gmail.com>
	@css:      ./source/css/module/scene-day.styl
	@js:       ./source/js/module/scene-day.coffee
-->

<div class="scene scene-day" intro="fly:{ x:'0%', y:'100%', opacity:1 }">

	<div class="showtime" on-swiperight="goPrevSlide" on-swipeleft="goNextSlide">
		{{>slideControls}}
		{{#slides:slide}}
			{{#active}}
			<div class="slide--{{slide}}" intro-outro="fly:{ x:'{{x}}', y:'0%', opacity:1 }">
				<div class="slide__title"><h3>{{title}}</h3></div>

				<div class="slide__body">
					{{#slide == 1}}
					<div class="slide__feature">
						<div class="feature__inner">11am</div>
					</div>
					<div class="slide__section">
						<div class="section__inner">
							<p>We shall be getting married at Otham Court Chapel.</p>
							<p>It's pretty cosy inside with only a few pews. The ceremony will be short (and sweet) but let us know if you'll need a seat and we'll save one especially.</p>
							<p>We've also been asked to let those of you with little ones (or those prone to falling in lakes) know that there are two open ponds so take care.</p>
							<p>There is plenty of parking available on-site!</p>
						</div>
					</div>
					<div class="slide__section">
						<div class="section__inner--address">
							<p class="slide__address">
								Otham Court<br>
								Otham Court Lane<br>
								Polegate<br>
								East Sussex<br>
								BN26 6QS<br>
							</p>
						</div>
					</div>
					<div class="flower--5"></div>
					<div class="flower--9"></div>
					{{/}}

					{{#slide == 2}}
					<div class="slide__feature">
						<div class="feature__inner">1pm</div>
					</div>
					<div class="slide__section">
						<div class="section__inner">
							<p>Following the ceremony we shall be celebrating at Hawthbush Farm, with plenty of paella, ice cream and cheese! Including wine from our personal vineyard in Bordeaux and beers from Camden Town Brewery and Gun Brewery (which is brewed on site!)</p>
							<p>Again plenty of parking!</p>
							<div class="beer">
								<div class="beer__clip--ctb"></div>
								<div class="beer__clip--gun"></div>
							</div>
						</div>
					</div>
					<div class="slide__section">
						<div class="section__inner--address">
							<p class="slide__address">
								Hawthbush Farm<br>
								Gun Hill<br>
								Heathfield<br>
								East Sussex<br>
								TN21 0JY<br>
								(TN21 0JX for SatNav)
							</p>
						</div>
					</div>
					<div class="flower--2"></div>
					<div class="flower--13"></div>
					{{/}}

					{{#slide == 3}}
					<div class="slide__feature">
						<div class="feature__inner">&#9835;</div>
					</div>
					<div class="slide__section">
						<div class="section__inner">
							<p>Here are a few nice hotels if you need accomodation over the weekend:</p>
							<ul class="slide__list">
								<li><a href="http://www.skyhousesussex.com/" class="slide__link">Skyhouse</a></li>
								<li><a href="http://www.maygarlandinn.co.uk/" class="slide__link">May Garland Inn</a> (close to reception)</li>
								<li><a href="http://www.powdermillshotel.com/" class="slide__link">Powder Mills Hotel</a></li>
								<li><a href="http://thelimes-bandb.co.uk/" class="slide__link">The Limes</a> (close to ceremony)</li>
							</ul>
							<hr>
							<p>If you'd like to buy us a gift we'll have a <a class="slide__link" href="http://www.whatidlove.co.uk/findalist.aspx?id=631660F5293DF1B5FCACE514B48CDDA3" target="_blank">wedding list</a> available from June :)</p>
						</div>
					</div>
					<div class="slide__section">
						<div class="section__inner">
							<p>Let us know what tunes you'd like to hear at the reception in the RSVP below.</p>
							<p>Keep it classy - think along the lines of Backstreet Boys, Craig David &amp; Toploader...</p>
							<p>All requests for Rod Stewart will be ignored. Ok, mum, you're allowed one blast of Maggie May but THAT'S ALL!</p>
						</div>
					</div>
					<div class="flower--11"></div>
					<div class="flower--12"></div>
					{{/}}
				</div>
			</div>
			{{/}}
		{{/}}
	</div>

</div>
