<!--
	@module:   scene-night
	@author:   lukehedger <luke.hedger@gmail.com>
	@css:      ./source/css/module/scene-night.styl
	@js:       ./source/js/module/scene-night.coffee
-->

<div class="scene scene-night" intro="fly:{ x:'0%', y:'100%', opacity:1 }">

	<div class="postcard" intro="fade">
		<div class="postcard__inner">
			<div class="postcard__section--message">
				<textarea class="message" name="message" id="message" cols="30" rows="10" value="{{message}}" placeholder="RSVP here..."></textarea>
				<div class="from">From {{guest.name}}</div>
				<!-- <div class="send">SEND</div> -->
			</div>
			<div class="postcard__section--address">
				London<br>
				London
			</div>
		</div>
	</div>

</div>
