<!--
	@module:   scene-day
	@author:   lukehedger <luke.hedger@gmail.com>
	@css:      ./source/css/module/scene-day.styl
	@js:       ./source/js/module/scene-day.coffee
-->

<div class="scene scene-day">

	<div class="showtime" on-swiperight="goPrevSlide" on-swipeleft="goNextSlide">
		{{>slideControls}}
		{{#slides:slide}}
			{{#active}}
			<div class="slide--{{slide}}" intro-outro="fly:{ x:'{{x}}', y:'0%', opacity:1 }">
				<h1>{{title}}</h1>
				<p>{{body}}</p>
				{{#links}}
				{{.}}
				{{/}}
				<div class="flower"></div>
			</div>
			{{/}}
		{{/}}
	</div>

</div>
