body
	font-size: $font.size
	font-family: $font.primary
	line-height: $font.line-height

h2
	font-size: 30px
	font-family: $font.heading

h3
	padding-bottom: 2px
	border-bottom: 1px dashed black
	font-family: $font.secondary
	font-size: 30px
	text-align: center
	text-transform: uppercase

.underlined
	text-decoration: underline
